{% extends "layout.html" %}
{% block icon %}<i class="fa-solid fa-vector-square"></i>{% endblock icon %}<i class="fa-solid fa-vector-square"></i>
{% block page_title %} 
    İletişim
{% endblock page_title %} 
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <!--menu-->
            <div class="list-group">
                <h1>İletişim</h1>    
            </div>
        </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}

