
    <div class="container">
        <a href="/" class="navbar-brand"><i class="fa-solid fa-vector-square" style="color: #fe1616;"></i>CountScope</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Seçenek</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">İletişim</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">Hakkımızda</a>
            </li>
        </ul>
    </div>
